

<form method="post" action="/reviews/<%= @review.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH" />

  <h1> Album Reviews</h1>
    <p> Name of Album: <%= @review.album_name.capitalize %>
    <p> Genre: <%= @review.genre.capitalize %>
    <p> Rating: <%= @review.rating %> Stars Out of Ten
    <p> Reviw: <%= @review.content.capitalize  %>

    <p> Edit Name of Album: <input type="text" name="album_name"></p>
    <p> Edit Genre: <input type="text" name ="genre">
    <p> Edit Rating (1-10): <input type="integer" name="rating">
    <p>
      <label> Edit Review:</label>
      <textarea id = "review"
        rows = "8"
        cols = "60">Your Review Here</textarea>
      </p>


    <input type="submit" value="edit" />

  </form>
