<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<form method="post" action="/reviews/<%= @review.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH" />


  <div class ="panel panel-default"><h3>Album Reviews</h3>
    <div class = "panel-heading"> Name of Album: <%= @review.album_name %></h3></div>
    <div class "panel-body"> Artist: <%= @review.artist%> <br> Genre: <%= @review.genre %> <br> Rating: <%= @review.rating %> /10 Stars <br> Review: <%= @review.content %><br> Review written by: <%= @review.user.username%><br></div>
    </div>

    <p> Edit Name of Album: <input type="text" name="album_name">
    <p> Edit Artist Name: <input type="text" name="artist">
    <p> Edit Genre: <input type="text" name ="genre">
    <p> Edit Rating (1-10): <input type="integer" name="rating">
    <p>
      <label> Edit Review:</label>
      <textarea name = "content"
        rows = "8"
        cols = "60">Your Review Here</textarea>
      </p>


    <input type="submit" value="edit" />

  </form>
